* {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

.app-container {
  background: #d6e3f8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.switch-container {
  display: flex;
  margin-top: -400px;
  margin-bottom: 20px;
  min-width: 400px;
}

.switch-button {
  color: #041a4b;
  display: flex;
  padding: 10px 40px 60px 40px;
  background: none;
  border: none;
  cursor: pointer;
  min-width: 220px;
  border-color: #223c75;
  text-transform: uppercase;
  text-align: center;
  justify-content: center;
  border-bottom: 2px solid rgba(42, 70, 133, 0.2);
}

.active {
  border-bottom: 2px solid rgb(20, 47, 110);
}

.calendar-container {
  min-width: 400px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(7, auto);
  background: #0b204c;
  padding: 20px;
}

.date-btn {
  padding: 15px;
  background: none;
  color: #8096c1;
  border: none;
  outline: none;
  font-size: 1.2rem;
  border-radius: 0.3rem;
}

.date-btn:hover {
  color: #ffffff;
  background: #254381;
}
